<div class="card card-custom">
  <div class="card-header">
    <div class="card-title">
      <h3 class="card-label">Om Goodsport Sustainability Support (GSS) </h3>
    </div>
  </div>
  <div class="card-body">

    <strong>Syftet med Goodsport Sustainability Support är:</strong>

    <ul>
      <li>
        För eldsjälar och organisationer som genom idrott vill skapa hållbara samhällsinsatser för barn och
        ungdomar.
      </li>


      <li>
        För företag och privatpersoner som vill bidra till kvalitativa insatser där vi validerar både aktörer,
        projekt
        och återrapporterar effekter och mål.
      </li>


      <li>
        För Organisationer som idrottsförbund, föreningar och stiftelser som vill visa effekter och påverkanalys för
        riktade insatser.
      </li>


      <li>
        Vi hjälper eldsjälar och organisationer att gå från idé till projektstart.
      </li>


      <li>
        Vi matchar intressenter för finansiering av projekt/verksamheter riktade till barn och ungdomar.
      </li>


      <li>
        Vi validerar aktör och projekt samt ansvarar för återrapportering.
      </li>
    </ul>


    <strong>Goodsport Sustainability Support är uppbyggt i 5 steg.</strong>

    <ul>
      <li>
        Steg 1 -Projektidé
      </li>
      <li>
        Steg 2-Projektplan
      </li>
      <li>
        Steg 3-Finansiering
      </li>
      <li>
        Steg 4-Återrapportering
      </li>
      <li>
        Steg 5-Slutrapport/Hållbarhetsrapport
      </li>

    </ul>


    <p>För att gå till nästa steg i systemet krävs det att vi godkänner de olika stegen när kriterierna
      uppfylls.</p>

    <p>
      Vi kommer att vägleda aktören genom varje steg och tillsammans skapar vi förutsättningar för att genomföra
      hållbara samhällsinsatser för barn och ungdomar.</p>

    <p>
      Om vi bedömer en projektidé att kunna bli effektiv och samtidigt uppfyller någon av de Globala Målen. Så
      kommer
      vi att vägleda aktören från projektidé till ansökningar för finansiering, matchning med intressenter,
      presentation av projekt/verksamheter till företag, stöttning under uppstart och projekttid, återrapportering,
      påverkanalys av målgrupp och slutrapport.</p>

    <p>
      Vid beviljad finansiering kommer vi med vårt supportteam stötta och validera projektets genomförande och
      återrapport.</p>

    <p>
      Vi matchar intressenter med projekt som stiftelser, näringsliv och privatpersoner med kvalitativa
      samhällsnyttiga verksamheter och projekt.

      Vi är en icke vinstdrivande allmännyttig stiftelse och finansieras av insamlade medel samt företagssponsring.
      Merparten av våra kostnader täcks från start.

      Beroende på hur mycket arbetstid vi beräknar i varje projekt/verksamhet så kommer vi vid behov att lägga in en
      mindre summa i ansökningar/finansiering av projekten. Detta endast vid beviljad finansiering av
      projekt/verksamhet.
    </p>


    <strong>Om GRI och återrapportering: Global Reporting Initiative, GRI och de Globala målen</strong>
    <p> I Goodsport Sustainability System 1.0 baserar vi återrapporten på GRI Global Reporting Initiative som är ett
      internationellt oberoende standardsystem som hjälper företag, regeringar och andra organisationer att förstå
      och kommunicera deras effekter.</p>
    <p>De Globala Målen, Agenda 2030 samt egna indikatorer som deltagartillfällen och
      en påverkanalys av projektens/verksamheters effekter och mål.</p>

    <p>
      Kort och gott vill vi visa idrottens sociala kraft. Samt ge intressenter ett kvitto på ekonomisk stöttning av
      särskilda insatser genom projekt och verksamheter för barn och ungdomar i Sverige.</p>

  </div>

</div>
