<div class="col-md-12 d-flex justify-content-between bg-white card-rounded idea-card flex-stack flex-wrap p-0 mt-5">
  <div class="p-5 px-10">
    <h4 class="bold fs-5 mb-0">Ny Projekt ide ?</h4>
    <p class="fs-8">
      Tillsammans kan vi nå dem globala målen 2030.
    </p>
    <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#kt_modal_new_ticket"
       class="btn yellow-button fw-bolder fs-8 w-150px" (click)="openModal(content, 'new')">Skapa Projekt</a>
  </div>
  <img src="./assets/media/illustrations/idea-bg.svg" class="h-175px" alt="idea-bg"/>
</div>

<div
  class="col-md-12 d-flex justify-content-between bg-white card flex-row card-rounded flex-stack flex-wrap p-7 mb-9 ps-15 pe-10 radius-8px mt-5">
  <span class="fs-1 bold">Sök projekt</span>


  <div class="col-md-10  d-flex justify-content-end">
    <div class="ps-10 pe-5">
      <select class="form-select form-select-transparent radius-8px pe-5 ps-5" aria-label="Select example"
              name="phaseSearch"
              [(ngModel)]="projectPhase" (change)="onPhaseSearch()"
      >
        <option value="">Projekt fas</option>
        <option *ngFor="let item of projectPhases" value="{{ item }}">
          {{ item }}
        </option>
      </select>
    </div>

    <form data-kt-search-element="form" class="bg-light px-5  radius-8px" autocomplete="off">

    <span class="svg-icon svg-icon-2  svg-icon-gray-500 position-absolute top-50 translate-middle-y ms-0 pull-right">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
        <rect opacity="0.5" x="17.0365" y="15.1223" width="8.15546" height="2" rx="1"
              transform="rotate(45 17.0365 15.1223)" fill="black"></rect>
        <path
          d="M11 19C6.55556 19 3 15.4444 3 11C3 6.55556 6.55556 3 11 3C15.4444 3 19 6.55556 19 11C19 15.4444 15.4444 19 11 19ZM11 5C7.53333 5 5 7.53333 5 11C5 14.4667 7.53333 17 11 17C14.4667 17 17 14.4667 17 11C17 7.53333 14.4667 5 11 5Z"
          fill="black"></path>
      </svg>
    </span>


      <input type="text" class="form-control form-control-flush ps-15" name="search" value="" placeholder="Sök..."
             data-kt-search-element="input" [(ngModel)]="search" (keyup.enter)="onEnterSearch()"/>


    </form>
  </div>
</div>

<div class="row g-10" *ngIf="!(dataLoading$ | async)">
  <div class="col-md-3" *ngFor="let data of allProjects">
    <a [routerLink]="['./details', data.id]" class="card h-100">
      <img class="bannerImg" src="./assets/media/categories/{{data?.categoryId}}-banner.png"/>
      <div class="card-header border-0 mb-0 ps-4 pe-4">
        <div class="card-toolbar">
          <span class="badge light-yellow-badge fw-bolder me-auto px-4 py-2 rounded-pill text-uppercase"
                *ngIf="data?.projectStatus === 'NEW'">{{ data?.projectPhase }} Pending</span>
          <span class="badge light-green-badge fw-bolder me-auto px-4 py-2 rounded-pill text-uppercase"
                *ngIf="data?.projectStatus === 'APPROVED'">
            Project Approved</span>
          <span class="badge light-blue-badge fw-bolder me-auto px-4 py-2 rounded-pill text-uppercase"
                *ngIf="data?.projectStatus === 'ACCEPTED'">
            Open for Investment</span>
          <span class="badge light-red-badge fw-bolder me-auto px-4 py-2 rounded-pill text-uppercase"
                *ngIf="data?.projectStatus === 'DECLINED'">
            Project Rejected</span>
          <span class="badge light-purple-badge fw-bolder me-auto px-4 py-2 rounded-pill text-uppercase"
                *ngIf="data?.projectStatus === 'PENDING'">
            {{ data?.projectPhase }} Submitted</span>
        </div>
        <div class="card-toolbar">
          <td class="text-end">
            <div class="d-flex flex-column w-100 me-2">
              <div class="d-flex flex-stack mb-2">
                <span class="text-muted me-2 fs-7 fw-bold">
                  <ng-container [ngSwitch]="data?.projectPhase">
                    <ng-container *ngSwitchCase="'IDEA'">
                      <ng-container [ngSwitch]="data?.projectStatus">
                        <ng-container *ngSwitchCase="'NEW'">0%</ng-container>
                        <ng-container *ngSwitchCase="'PENDING'">17%</ng-container>
                      </ng-container>
                    </ng-container>
                    <ng-container *ngSwitchCase="'PLAN'">
                      <ng-container [ngSwitch]="data?.projectStatus">
                        <ng-container *ngSwitchCase="'NEW'">33%</ng-container>
                        <ng-container *ngSwitchCase="'PENDING'">50%</ng-container>
                      </ng-container>
                    </ng-container>
                    <ng-container *ngSwitchCase="'FUNDING'">
                      <ng-container [ngSwitch]="data?.projectStatus">
                        <ng-container *ngSwitchCase="'NEW'">66%</ng-container>
                        <ng-container *ngSwitchCase="'PENDING'">83%</ng-container>
                        <ng-container *ngSwitchCase="'ACCEPTED'">90%</ng-container>
                        <ng-container *ngSwitchCase="'APPROVED'">100%</ng-container>
                      </ng-container>
                    </ng-container>
                    <ng-container *ngSwitchCase="'REPORTING'">100%
                    </ng-container>
                  </ng-container>
                </span>
              </div>
              <div class="progress h-6px w-100">
                <ng-container [ngSwitch]="data?.projectPhase">
                  <ng-container *ngSwitchCase="'IDEA'">
                    <ng-container [ngSwitch]="data?.projectStatus">
                      <ng-container *ngSwitchCase="'NEW'">
                        <div class="progress-bar bg-primary yellow-bg" role="progressbar" [style.width]="'0%'">
                        </div>
                      </ng-container>
                      <ng-container *ngSwitchCase="'PENDING'">
                        <div class="progress-bar bg-primary yellow-bg" role="progressbar" [style.width]="'17%'">
                        </div>
                      </ng-container>
                    </ng-container>
                  </ng-container>
                  <ng-container *ngSwitchCase="'PLAN'">
                    <ng-container [ngSwitch]="data?.projectStatus">
                      <ng-container *ngSwitchCase="'NEW'">
                        <div class="progress-bar bg-primary yellow-bg" role="progressbar" [style.width]="'33%'">
                        </div>
                      </ng-container>
                      <ng-container *ngSwitchCase="'PENDING'">
                        <div class="progress-bar bg-primary yellow-bg" role="progressbar" [style.width]="'50%'">
                        </div>
                      </ng-container>
                    </ng-container>
                  </ng-container>
                  <ng-container *ngSwitchCase="'FUNDING'">
                    <ng-container [ngSwitch]="data?.projectStatus">
                      <ng-container *ngSwitchCase="'NEW'">
                        <div class="progress-bar bg-primary yellow-bg" role="progressbar" [style.width]="'66%'">
                        </div>
                      </ng-container>
                      <ng-container *ngSwitchCase="'PENDING'">
                        <div class="progress-bar bg-primary yellow-bg" role="progressbar" [style.width]="'83%'">
                        </div>
                      </ng-container>
                      <ng-container *ngSwitchCase="'ACCEPTED'">
                        <div class="progress-bar bg-primary yellow-bg" role="progressbar" [style.width]="'90%'">
                        </div>
                      </ng-container>
                      <ng-container *ngSwitchCase="'APPROVED'">
                        <div class="progress-bar bg- yellow-bg" role="progressbar" [style.width]="'100%'">
                        </div>
                      </ng-container>
                    </ng-container>
                  </ng-container>
                  <ng-container *ngSwitchCase="'REPORTING'">
                    <div class="progress-bar bg-primary yellow-bg" role="progressbar" [style.width]="'100%'">
                    </div>
                  </ng-container>
                </ng-container>
              </div>
            </div>
          </td>
        </div>
      </div>


      <div class="card-body pt-0 pb-5 ps-4">
        <!-- <div class="card-toolbar mb-2">
          <span class="badge light-yellow-badge fw-bolder me-auto px-4 py-2"
            *ngIf="data?.projectStatus === 'PENDING'">Pending</span>
          <span class="badge light-green-badge fw-bolder me-auto px-4 py-2" *ngIf="data?.projectStatus === 'APPROVED'">
            Approved</span>
          <span class="badge light-red-badge fw-bolder me-auto px-4 py-2" *ngIf="data?.projectStatus === 'DECLINED'">
            Rejected</span>
          <span class="badge light-blue-badge fw-bolder me-auto px-4 py-2" *ngIf="data?.projectStatus === 'NEW'">
            New</span>
        </div> -->
        <div class="m-0">
          <span class="fs-6 text-dark bold text-hover-primary text-dark lh-base">{{ data?.title }}</span>
          <div class="fw-medium fs-9 mt-1 limit-text card-des-text">
            {{ data?.description }}
          </div>
        </div>
      </div>
    </a>
  </div>
</div>

<div class="col text-center data-loader mt-5 p-5 pt-7" *ngIf="dataLoading$ | async">
  <div class="spinner-border text-warning" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>

<div *ngIf="allProjects.length > 0"
     class="col-sm-12 d-flex align-items-center justify-content-center justify-content-md-end mt-10">
  <ngb-pagination [collectionSize]="totalPages" [(page)]="page" [maxSize]="3" (pageChange)="onPageChange()">
  </ngb-pagination>
</div>

<!--create/edit modal-->
<ng-template #content let-modal>
  <div class="modal-header px-7">
    <h4 class="modal-title fw-bolder fs-3" id="modal-basic-title">
      Create Project
    </h4>
  </div>
  <div class="modal-body">
    <form [formGroup]="form" autocomplete="off" novalidate>

      <div class="fv-row fv-plugins-icon-container mb-10">
        <div class="d-flex justify-content-between">
          <div class="d-flex flex-stack mb-2">
            <label class="form-label fw-medium text-gray-400 fs-6 mb-0 required">Projekt titel</label>
          </div>
        </div>
        <input type="text" class="form-control form-control-lg form-control-solid border-gray-200 h-40 px-4 fs-6 h-40px"
               name="title" placeholder="Project Title" formControlName="title"/>
        <div *ngIf="form.get('title')?.touched">
          <div class="fv-plugins-message-container invalid-feedback" *ngIf="form.get('title')?.hasError('required')">
            Title is required
          </div>
          <div class="fv-plugins-message-container invalid-feedback" *ngIf="form.get('title')?.hasError('pattern')">
            Only white spaces are not allowed
          </div>
        </div>
      </div>


      <div class="fv-row fv-plugins-icon-container mb-10 mt-n5">
        <div class="d-flex justify-content-between">
          <div class="d-flex flex-stack mb-2">
            <label class="form-label fw-medium text-gray-400 fs-6 mb-0 required">
              Beskriv din projekt ide med minst 50 tecken och max 1000 återstående tecken {{remainingText}}
            </label>
          </div>
        </div>
        <textarea rows="5" class="form-control form-control-lg form-control-solid px-4 fs-6 border-gray-200"
                  placeholder="Projekt beskrivning minst 50 tecken" name="description" formControlName="description" [minlength]="50" [maxLength]="1000" maxlength="1000"  [(ngModel)]="descriptionLength"   (ngModelChange)="valueChange(descriptionLength)" >
        </textarea>
        <div *ngIf="form.get('description')?.touched">
          <div class="fv-plugins-message-container invalid-feedback"
               *ngIf="form.get('description')?.hasError('required')">
           Beskrivning måste anges
          </div>
          <div class="fv-plugins-message-container invalid-feedback"
               *ngIf="form.get('description')?.hasError('pattern')">
            Only white spaces are not allowed
          </div>
          <div class="fv-plugins-message-container invalid-feedback"
               *ngIf="form.get('description')?.hasError('maxLength')">
            Description exceeds maximum length
          </div>
          <div class="fv-plugins-message-container invalid-feedback"
               *ngIf="form.get('description')?.hasError('minLength')">
            Description exceeds maximum length
          </div>
        </div>
      </div>

      <div class="fv-row fv-plugins-icon-container mb-5 mt-n5">
        <div class="d-flex justify-content-between">
          <div class="d-flex flex-stack mb-2">
            <label class="form-label fw-medium text-gray-400 fs-6 mb-0 required">
              Kategori
            </label>
          </div>
        </div>
        <select class="form-select form-select-solid border-gray-200 h-40 px-4 fs-6 h-40px"
                formControlName="categoryId">
          <option class="special" *ngFor="let item of allCategories" value="{{ item?.id }}">
            {{ item?.name }}
          </option>
        </select>
        <div *ngIf="form.get('categoryId')?.touched">
          <div class="fv-plugins-message-container invalid-feedback"
               *ngIf="form.get('categoryId')?.hasError('required')">
            Category is required
          </div>
        </div>
      </div>

      <div class="fv-row fv-plugins-icon-container mb-10">
        <div class="d-flex justify-content-between">
          <div class="d-flex flex-stack mb-2">
            <label class="form-label fw-medium text-gray-400 fs-6 mb-0 required">Investeringsbelopp</label>
          </div>
        </div>
        <input type="number" min="1"
               class="form-control form-control-lg form-control-solid border-gray-200 h-40 px-4 fs-6 h-40px"
               name="fundingAmountRequest" placeholder="Belopp" formControlName="foundingAmount"/>
        <div *ngIf="form.get('foundingAmount')?.touched">
          <div class="fv-plugins-message-container invalid-feedback"
               *ngIf="form.get('foundingAmount')?.hasError('required')">
            Title is required
          </div>
          <div class="fv-plugins-message-container invalid-feedback"
               *ngIf="form.get('foundingAmount')?.hasError('pattern')">
            Only white spaces are not allowed
          </div>
        </div>
      </div>

      <div class="fv-row fv-plugins-icon-container mb-5 mt-n5">
        <div class="d-flex justify-content-between">
          <div class="d-flex flex-stack mb-2">
            <label class="form-label fw-medium text-gray-400 fs-6 mb-0 required">
              Interval
            </label>
          </div>
        </div>
        <select class="form-select form-select-solid border-gray-200 h-40 px-4 fs-6 h-40px"
                formControlName="fundingInterval">
          <option value="MONTHLY">Månadsvis</option>
          <option value="YEARLY">Årbasis</option>
          <option value="ONE_TIME">Engångsumma</option>
        </select>
        <div *ngIf="form.get('fundingInterval')?.touched">
          <div class="fv-plugins-message-container invalid-feedback"
               *ngIf="form.get('fundingInterval')?.hasError('required')">
            Investeringsinterval
          </div>
        </div>
      </div>

      <div class="fv-row fv-plugins-icon-container mb-10">
        <div class="d-flex justify-content-between">
          <div class="d-flex flex-stack mb-2">
            <label class="form-label fw-medium text-gray-400 fs-6 mb-0">Investeringskod</label>
          </div>
        </div>
        <input type="text" class="form-control form-control-lg form-control-solid border-gray-200 h-40 px-4 fs-6 h-40px"
               name="investorCampaignCode" placeholder="kod" formControlName="investorCampaignCode"/>
      </div>

    </form>
  </div>
  <div class="modal-footer justify-content-center">
    <button type="button" class="btn btn-light w-175px" (click)="modal.close('Save click')"
            [disabled]="btnLoading$ | async">
      Avbryt
    </button>
    <button type="button" class="btn yellow-button w-175px" (click)="onClickSubmit(modal)"
            [disabled]="btnLoading$ | async">
      <ng-container *ngIf="btnLoading$ | async">
        <span class="indicator-progress" [style.display]="'block'">
          Please wait...
          <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
        </span>
      </ng-container>
      <ng-container *ngIf="!(btnLoading$ | async)">
        <span class="indicator-label">Skicka</span>
      </ng-container>
    </button>
  </div>
</ng-template>
<!--create/edit modal-->

