<div class="row g-5 g-xl-12">
  <div class="col-xl-6">

    <!--begin::Charts Widget 3-->
    <div class="card card-xl-stretch mb-xl-12">
      <!--begin::Body-->
      <div class="card-body" *ngIf="!show2">

        <div class="row justify-content-center" *ngIf="noPieData">
          <div class="col-md-4">
            <h2>No Data found</h2>
          </div>
        </div>
        <!--begin::Chart-->
        <div id="piechart" *ngIf="!noPieData">
          <apx-chart
            [series]="chartOptions.series"
            [chart]="chartOptions.chart"
            [labels]="chartOptions.labels"
            [responsive]="chartOptions.responsive"
          ></apx-chart>
        </div>
        <div class="col text-center data-loader mt-5 p-5 pt-7" *ngIf="show2">
          <div class="spinner-border text-warning" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
        <!--end::Chart-->
      </div>
      <!--end::Body-->
    </div>
    <!--end::Charts Widget 3-->
  </div>
  <div class="col-xl-6">
    <!--begin::Charts Widget 4-->
    <div class="card card-xl-stretch mb-5 mb-xl-8">
      <!--begin::Body-->
      <div class="card-body" *ngIf="!show1">
        <div class="row justify-content-center" *ngIf="noColData">
          <div class="col-md-4">
            <h2>No Data found</h2>
          </div>
        </div>
        <!--begin::Chart-->
        <div id="chart" *ngIf="!noColData">
          <apx-chart [series]="localityStatChart.series" [chart]="localityStatChart.chart"
                     [dataLabels]="localityStatChart.dataLabels"
                     [plotOptions]="localityStatChart.plotOptions" [yaxis]="localityStatChart.yaxis"
                     [legend]="localityStatChart.legend"
                     [fill]="localityStatChart.fill" [stroke]="localityStatChart.stroke" [tooltip]="localityStatChart.tooltip"
                     [xaxis]="localityStatChart.xaxis" [colors]="localityStatChart.colors"></apx-chart>
        </div>
        <!--end::Chart-->
        <div class="col text-center data-loader mt-5 p-5 pt-7" *ngIf="show1">
          <div class="spinner-border text-warning" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
        <!--end::Body-->
      </div>
      <!--end::Charts Widget 4-->
    </div>
  </div>
</div>
