<div class="container-xxl">
  <!--begin::Row-->
  <div class="row g-5 g-xl-10 mb-5 mb-xl-10">
    <div class="row g-5 g-xl-10 mb-5 mb-xl-10">
      <!--begin::Col-->
      <div class="col-12">
        <!--begin::Widget-->
        <div class="card card-flush h-md-100">
          <div class="card-header">
            <h1 class="card-title">Välkommen till Goodsport</h1>
          </div>
          <div class="card-body">
            <h3>Digital plattform för sociala hållbara idrottsprojekt</h3>
            <ul>
              <li>Validerar projektgenomförandet</li>
              <li>Validerar aktören genom plattformen (förening/förbund)</li>
              <li>Projektstöd löpande under avtalstiden</li>
              <li>Hållbart projekt (dokumentation)</li>
              <li>Intressenter online (finansiärer)</li>
              <li>Återrapportering-Hållbarhetsrapport-Effekter-Påverkanalys</li>
            </ul>
          </div>
        </div>
        <!--end::Widget-->
      </div>
      <!--end::Col-->
    </div>
  </div>
</div>
