<div class="card card-custom">
  <div class="card-header">
    <div class="card-title">
      <h3 class="card-label">GDPR INTEGRITETSPOLICY
      </h3>
    </div>
  </div>
  <div class="card-body">


    <strong>Personuppgiftsansvarig</strong>

    <p>Stiftelsen Goodsport Foundation (802477-8139) och Goodsport Foundation Sweden AB (556919-0118), Liding&ouml;v&auml;gen
      1, 114 33 Stockholm (nedan kallad Goodsport) &auml;r personuppgiftsansvarig f&ouml;r behandlingen av
      personuppgifter som sker inom ramen f&ouml;r Goodsports verksamhet. Du ska alltid kunna k&auml;nna dig trygg n&auml;r
      du l&auml;mnar dina personuppgifter till oss. Goodsport vill med den h&auml;r integritetspolicyn visa hur vi s&auml;kerst&auml;ller
      att dina personuppgifter behandlas i enlighet med dataskyddsf&ouml;rordningen.</p>


    <strong>Varf&ouml;r behandlar vi dina personuppgifter?</strong>


    <p>F&ouml;r att Goodsport ska kunna bedriva sin verksamhet samt f&ouml;r att p&aring; ett enkelt s&auml;tt kunna
      kommunicera med sina givare behandlas personuppgifter f&ouml;r olika &auml;ndam&aring;l kopplade till
      verksamheten.</p>


    <p>N&auml;r du ger en g&aring;va, h&ouml;r av dig, s&auml;nder in ans&ouml;kningshandlingar, anm&auml;ler dig till
      event/seminarium, utbildningar eller kontaktar oss via telefon och mejl kommer vi att registrera dina
      personuppgifter. De personuppgifter som du l&auml;mnar anv&auml;nder vi f&ouml;r att p&aring; ett enkelt s&auml;tt
      kunna kommunicera med dig, uppf&ouml;ljning och utveckling av Goodsport verksamhet, egen statistik samt f&ouml;r
      information- och marknadsf&ouml;rings&auml;ndam&aring;l. Goodsport sparar &auml;ven ans&ouml;kningshandlingar och
      andra direkta kontakter. Vi kommunicerar &auml;ven via v&aring;r hemsida och sociala medier, s&aring; som
      Facebook, Linkedin och Instagram</p>


    <p>Goodsport kan komma att kommunicerar med sina givare med direktutskick via sms, e-post samt brev beroende p&aring;
      vilka uppgifter vi har om varje givare.</p>


    <strong>Vilka uppgifter samlar vi in?</strong>


    <p>Nedan personuppgifter &auml;r den information som Goodsport kan samla in n&auml;r du t ex l&auml;mnar en g&aring;va
      eller i annat fall &auml;r i kontakt med oss. Vi kan &auml;ven komplettera de uppgifter vi har om dig med t ex
      personnummer, telefonnummer och postadress, beroende p&aring; vad vi har fr&aring;n b&ouml;rjan. E-postadress och
      bankuppgifter &auml;r n&aring;got som du sj&auml;lv l&auml;mnar och g&aring;r ej att k&ouml;pa.</p>


    <p>Goodsport kan &auml;ven f&aring; tillg&aring;ng till adresser fr&aring;n leverant&ouml;rer men f&ouml;r att
      Goodsport ska kunna f&aring; tillg&aring;ng till adresser beh&ouml;ver leverant&ouml;ren ha klargjort i sin
      Integritetspolicy att de kan ge Goodsport tillg&aring;ng till adresserna.</p>


    <ul>
      <li>F&ouml;r- och efternamn</li>
      <li>Postadress</li>
      <li>Personnummer</li>
      <li>Telefonnummer</li>
      <li>E-postadress</li>
      <li>Post- och bankgironummer</li>
      <li>Kontonummer</li>
      <li>Bokf&ouml;ringsdatum och belopp p&aring; sk&auml;nkta g&aring;vor</li>
      <li>Senast sk&auml;nkta g&aring;va</li>
      <li>Korrespondensnoteringar</li>
      <li>Ans&ouml;kningshandlingar</li>
    </ul>


    <strong>Vilken laglig grund har vi f&ouml;r personuppgiftsbehandling?</strong>

    <p>Goodsports val att spara personuppgifter i exempelvis ett givarregister utg&aring;r fr&aring;n &ouml;vertygelsen
      att detta till st&ouml;rsta del ligger i varje enskild givares intresse. Ett av Goodsports uppdrag &auml;r att
      samla in pengar till v&aring;rt &auml;ndam&aring;l att jobba f&ouml;r integration genom idrott, f&ouml;r att kunna
      g&ouml;ra detta kr&auml;vs att de medel vi samlar in anv&auml;nds p&aring; ett s&aring; ekonomiskt s&auml;tt som m&ouml;jligt.</p>


    <p>I och med att du l&auml;mnar uppgifter till Goodsport ger du din till&aring;telse till att Goodsport registrerar
      och lagrar uppgifter samt behandlar de angivna personuppgifterna f&ouml;r angivna &auml;ndam&aring;l. Som r&auml;ttslig
      grund f&ouml;r behandling kommer Goodsport att h&auml;nvisa till uppfyllande av avtal, r&auml;ttslig f&ouml;rpliktelse,
      ber&auml;ttigat intresse eller samtycke. Observera att du n&auml;rsomhelst kan &aring;terkalla ditt samtycke genom
      att kontakta oss. Behandlingen sker enligt g&auml;llande lagstiftning och inneb&auml;r att personuppgifter inte
      bevaras under l&auml;ngre tid &auml;n vad som &auml;r n&ouml;dv&auml;ndigt med h&auml;nsyn till &auml;ndam&aring;len
      med behandlingen.</p>


    <p>Vid behandling av personuppgifter g&auml;llande barn beh&ouml;vs v&aring;rdnadshavares samtyckte. F&ouml;r n&auml;rvarande
      g&auml;ller 13 &aring;r i Sverige som &aring;ldersgr&auml;ns vilket &auml;r den &aring;ldersgr&auml;nsen Goodsport
      utg&aring;r fr&aring;n.</p>


    <strong>Hur l&auml;nge sparar vi dina personuppgifter?</strong>

    <p>Goodsport sparar personuppgifter upp till 36 m&aring;nader efter senaste g&aring;va i enlighet med praxis inom
      branschen. Ans&ouml;kningshandlingar sparas 12 m&aring;nader efter avslutad rekrytering. Om du anm&auml;ler dig
      till ett event/seminarium sparar Goodsport dina personuppgifter s&aring; l&auml;nge eventet med uppf&ouml;ljning/analyser
      &auml;r aktuellt.</p>

    <p>Viss information kan beh&aring;llas l&auml;ngre d&aring; det kr&auml;vs f&ouml;r att uppfylla andra lagkrav, som
      exempelvis Bokf&ouml;ringslagen.</p>


    <strong>Vem kan f&aring; ta del av de uppgifter vi har om dig?</strong>

    <p>Goodsport kommer inte s&auml;lja eller till&aring;ta tredje part att anv&auml;nda de personuppgifter som samlats
      in. Uppgifterna du l&auml;mnar i samband med en g&aring;va kan komma att samk&ouml;ras med andra register (t ex
      SPAR), om det &auml;r n&ouml;dv&auml;ndigt f&ouml;r att uppr&auml;tth&aring;lla god registerv&aring;rd. Goodsport
      kan &auml;ven komma att l&auml;mna ut personuppgifter till leverant&ouml;rer som behandlar personuppgifter f&ouml;r
      Goodsports r&auml;kning, exempelvis IT-leverant&ouml;rer, tryckerier, rekryteringsfirmor och eventuellt andra
      samarbetspartners. Det &auml;r alltid Goodsport som ansvarar f&ouml;r behandlingen.</p>

    <p>Personuppgifter kan &auml;ven komma att l&auml;mnas ut om det &auml;r n&ouml;dv&auml;ndigt f&ouml;r att:</p>


    <p>tillm&ouml;tesg&aring; till&auml;mplig lag, f&ouml;rordning, juridisk process eller beg&auml;ran fr&aring;n
      verkst&auml;llande myndighet</p>


    <p>tillvarata Goodsports r&auml;ttsliga intressen</p>


    <p>uppt&auml;cka och f&ouml;rebygga bedr&auml;geri, s&auml;kerhets- eller tekniska problem</p>


    <p>Goodsport str&auml;var alltid efter att lagra personuppgifter inom EU/EES: men personuppgifter kan komma att
      &ouml;verf&ouml;ras till och behandlas i land utanf&ouml;r EU/EES av leverant&ouml;r och underleverant&ouml;r
      genom exempelvis en molntj&auml;nst.</p>


    <p>&#8203;</p>


    <strong>Vilka r&auml;ttigheter har du?</strong>


    <p>Du som registrerad i Goodsport har flera r&auml;ttigheter som du b&ouml;r k&auml;nna till.</p>


    <p>Du kan en g&aring;ng per &aring;r kostnadsfritt, erh&aring;lla information om vilka personuppgifter Goodsport har
      registrerade om dig genom att beg&auml;ra ett registerutdrag. Beg&auml;ran ska vara skriftlig, undertecknad av dig
      och skickas till oss per post (inte e-post eller fax). Anledningen &auml;r att den ans&ouml;kandes identitet m&aring;ste
      s&auml;kerst&auml;llas innan information kan l&auml;mnas ut, en namnteckning &auml;r obligatorisk. Goodsport ska
      vid beg&auml;ran av registerutdrag f&ouml;rse dig med en kopia av de personuppgifter som &auml;r under behandling.
      Vi kommer att &aring;terkoppla med ditt registerutdrag inom 5-30 dagar.</p>


    <p>Du har r&auml;tt att f&aring; dina personuppgifter korrigerade om de &auml;r felaktiga, ofullst&auml;ndiga eller
      missvisande och r&auml;tt att begr&auml;nsa behandlingen av personuppgifterna tills de blir &auml;ndrade du har
      &auml;ven r&auml;tt att f&aring; dina personuppgifter raderade.</p>


    <p>Du kan n&auml;r som helst ut&ouml;va dina r&auml;ttigheter genom att beg&auml;ra tillg&aring;ng till och r&auml;ttelse
      eller radering av personuppgifter, beg&auml;ra begr&auml;nsning av behandling eller inv&auml;nda mot behandling.
      Kontakta Goodsport f&ouml;r att ut&ouml;va dina r&auml;ttigheter.</p>


    <p>Vidare har du r&auml;tt att inge ett klagom&aring;l avseende Goodsports behandling av personuppgifter till
      Datainspektionen, bes&ouml;k www.datainspektionen.se.</p>


    <strong>L&auml;nkar till andra webbplatser</strong>

    <p>Goodsport webbplats kan inneh&aring;lla l&auml;nkar till webbplatser som drivs eller &auml;gs av n&aring;gon
      annan &auml;n Goodsport d&aring; g&auml;ller inte denna integritetspolicy.</p>


    <strong>S&auml;kerhet</strong>


    <p>Goodsport har vidtagit de tekniska s&auml;kerhets&aring;tg&auml;rder som beh&ouml;vs f&ouml;r att skydda dina
      personuppgifter mot otillb&ouml;rlig &aring;tkomst, f&ouml;r&auml;ndring och radering.</p>


    <p>F&ouml;r&auml;ndringar av integritetspolicyn</p>

    <p>Om denna integritetspolicy &auml;ndras kommer Goodsport att publicera den justerade integritetspolicyn p&aring;
      www.goodsport.se med information om n&auml;r &auml;ndringarna tr&auml;der i kraft.</p>


    <strong>Om du vill veta mer?</strong>

    <p>Har du fr&aring;gor om Goodsports personuppgiftsbehandling eller vill ut&ouml;va dina r&auml;ttigheter kontaktar
      du personuppgiftsansvarig@goodsport.se.</p>

  </div>
</div>
