<div class="card pb-5 mt-5">

  <div class="row">
    <div class="col">
      <div class="text-center mt-15 mb-10">
        <img class="h-150px" src="./assets/media/illustrations/courses.svg" alt="project-icon"/>
      </div>
      <div class="text-left mx-20 mt-15 mb-10">
        <p><strong>Goodsport QRI har flertalet enkätverktyg som mäter effekter och påverkansanalys hos målgrupperna.</strong></p>
        <p class="text-gray-800 fs-8"></p>
        <p></p>
        <p>Ett exempel är SHIS -The Salutogenic Health Indicator Scale (SHIS). Ett Frågeformulär om salutogena indikatorer på hälsa.
          SHIS mäter indikatorer på hälsa utifrån ett salutogent perspektiv. Salutogena perspektivet fokuserar på vilka faktorer som orsakar och vidmakthåller hälsa mer än vad som orsakar sjukdom.
          Vi har flera andra olika enkätverktyg som används för att mäta effekter och påverkananalys hos målgruppen. Alla undersökningar är anonyma och inga personuppgifter samlas in. Varje projektledare i sina respektive verksamheter/projekt är ansvarig för sina egna undersökningar.

        <p>Vill du beställa en undersökning som ingår i samarbetsavtal med Goodsport Foundation vänligen kontakta <a href="mailto:info@goodsport.se">info&#64;goodsport.se</a></p>
      </div>
      <div class="text-center mt-auto mb-10">
        <img class="h-300px" src="./assets/media/illustrations/surveys.png" alt="project-icon"/>
      </div>
    </div>
  </div>


<!--
  <div class="row">
    < !-- <div class="col-md-11 mx-auto"> -- >
    <div class="card-body">
      <div class="table-responsive p-10">
        <table
          class="table table-row-bordered table-row-gray-100 align-middle gs-0 gy-3"
        >
          <thead>
          <tr>

            <th>
              <span class="text-gray-500 fs-8 bold"> Titel </span>
            </th>
            <th>
              <span class="text-gray-500 fs-8 bold"> Beskrivning </span>
            </th>

          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let data of surveysList">
            <td>

              <a href="{{data?.link}}"
                 class="text-dark fw-bolder text-hover-primary mb-0 fs-12"
              >{{data.title}}</a>


            </td>
            <td>{{data?.description}}</td>
          </tr>
          </tbody>
          < !--end::Table body-- >
        </table>

      </div>
      < !-- </div> -- >
    </div>
  </div>
  <div class="col text-center data-loader mt-5 p-5 pt-7" *ngIf="dataLoading$ | async">
    <div class="spinner-border text-warning" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div> -->

</div>
