<div class="card">
  <div
    class="col-md-12 d-flex justify-content-between bg-white card-rounded flex-stack flex-wrap p-8 pb-0"
  >
    <form data-kt-search-element="form" autocomplete="off" class="w-100 d-flex justify-content-between">
      <div class="bg-light position-relative px-5 w-100 me-10 radius-8px">
        <span class="svg-icon svg-icon-2 svg-icon-gray-500 position-absolute top-50 translate-middle-y ms-0"><svg
          xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <rect opacity="0.5" x="17.0365" y="15.1223" width="8.15546" height="2" rx="1"
                  transform="rotate(45 17.0365 15.1223)" fill="black"></rect>
            <path
              d="M11 19C6.55556 19 3 15.4444 3 11C3 6.55556 6.55556 3 11 3C15.4444 3 19 6.55556 19 11C19 15.4444 15.4444 19 11 19ZM11 5C7.53333 5 5 7.53333 5 11C5 14.4667 7.53333 17 11 17C14.4667 17 17 14.4667 17 11C17 7.53333 14.4667 5 11 5Z"
              fill="black"></path>
          </svg>
        </span>
        <input type="text" name="search" placeholder="Search..." data-kt-search-element="input"
               class="form-control form-control-flush ps-10 fs-7 h-100" [(ngModel)]="search"
               (keyup.enter)="onEnterSearch()"/>
      </div>
      <a class="btn yellow-button w-150px fs-7" (click)="openModal(createQuestionnaire)">
        Add Admin
      </a>
    </form>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table
        class="table table-row-bordered table-row-gray-100 align-middle gs-0 gy-3"
      >
        <thead>
        <tr>
          <th>
            <span class="text-gray-500 fs-8 bold"> User </span>
          </th>
          <th>
            <span class="text-gray-500 fs-8 bold"> Role </span>
          </th>
          <th>
            <span class="text-gray-500 fs-8 bold"> Locked </span>
          </th>
          <th>
            <span class="text-gray-500 fs-8 bold"> Enabled </span>
          </th>
          <th>
            <span class="text-gray-500 fs-8 bold"> Verified </span>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of allUsers">
          <td>
            <div class="d-flex">
              <div class="symbol symbol-50px me-5">
                <!-- <img src="./assets/media/illustrations/bluedot.png" class="h-100 align-self-end" alt="" /> -->
                <span *ngIf="!user?.imageUrl"
                      class="symbol-label bg-light-danger text-danger fs-6 fw-bolder"
                >
                    {{ user.username.charAt(0) }}
                  </span>
              </div>
              <div class="d-flex justify-content-start flex-column">
                <a
                  [routerLink]="['./details', user.id]"
                  class="text-dark fw-bolder text-hover-primary mb-0 fs-12"
                >{{ user.username }}</a
                >
                <span class="text-muted fw-bold text-muted d-block fs-11"
                >{{ user?.firstName }} {{ user?.lastName }}</span
                >
              </div>
            </div>
          </td>
          <td>
              <span class="fw-bold text-dark d-block fs-8">
                {{ user?.roles[0].role }}</span
              >
          </td>
          <td>
            <app-keenicon *ngIf="user?.accountLocked" name="cross-circle" class="fs-2 text-primary me-4"></app-keenicon>
            <app-keenicon *ngIf="!user?.accountLocked" name="user-tick" class="fs-2 text-success me-4"></app-keenicon>
          </td>
          <td>
            <app-keenicon *ngIf="!user?.accountEnabled" name="cross-circle" class="fs-2 text-primary me-4"></app-keenicon>
            <app-keenicon *ngIf="user?.accountEnabled" name="check" class="fs-2 text-success me-4"></app-keenicon>
          </td>
          <td>
            <app-keenicon *ngIf="!user?.verified" name="cross-circle" class="fs-2 text-danger me-4"></app-keenicon>
            <app-keenicon *ngIf="user?.verified" name="check" class="fs-2 text-success me-4"></app-keenicon>
          </td>

        </tr>
        </tbody>
        <!--end::Table body-->
      </table>
      <!--end::Table-->

      <div
        class="col text-center data-loader mt-5 p-5 pt-7"
        *ngIf="dataLoading$ | async"
      >
        <div class="spinner-border text-warning" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>

      <div
        class="col-sm-12 d-flex align-items-center justify-content-center justify-content-md-end mt-10"
      >
        <ngb-pagination
          [collectionSize]="totalItems"
          [(page)]="page"
          [pageSize]="20"
          [maxSize]="5"
          (pageChange)="onPageChange()"
        >
        </ngb-pagination>
      </div>
    </div>
  </div>
</div>

<!-- -->

<!--create questionnaire modal-->
<ng-template #createQuestionnaire let-modal>
  <div class="modal-header px-7">
    <h4 class="modal-title fw-bolder fs-3" id="modal-basic-title">
      Add admin
    </h4>
  </div>
  <div class="modal-body">

    <div class="">
      <div class="card-body d-flex flex-column pb-0 px-0">
        <div class="fv-row">
          <form [formGroup]="form" autocomplete="off" novalidate>
            <div class="fv-row mb-5 fv-plugins-icon-container">
              <label class="d-flex align-items-center fs-7 fw-bold mb-2">
                <span class="required">Username</span>
              </label>
              <input type="email" class="form-control form-control-lg form-control-solid fs-8 text-dark px-3"
                     name="username"
                     placeholder="Username" formControlName="username"/>
              <div *ngIf="form.get('username')?.touched">
                <div class="fv-plugins-message-container invalid-feedback fs-8"
                     *ngIf="form.get('username')?.hasError('required')">
                  Username is required
                </div>
              </div>
            </div>
            <div class="fv-row mb-5 fv-plugins-icon-container">
              <label class="d-flex align-items-center fs-7 fw-bold mb-2">
                <span class="required">Password</span>
              </label>
              <input type="password" class="form-control form-control-lg form-control-solid fs-8 text-dark px-3"
                     name="password"
                     placeholder="password" formControlName="password"/>
              <div *ngIf="form.get('password')?.touched">
                <div class="fv-plugins-message-container invalid-feedback fs-8"
                     *ngIf="form.get('password')?.hasError('required')">
                  password is required
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer justify-content-center">
    <button type="button" class="btn btn-light w-175px" (click)="modal.close('Save click')"
            [disabled]="btnLoading$ | async">
      Discard
    </button>
    <button type="button" class="btn yellow-button w-175px" (click)="onClickSave(modal)"
            [disabled]="btnLoading$ | async">
      <ng-container *ngIf="btnLoading$ | async">
        <span class="indicator-progress" [style.display]="'block'">
          Please wait...
          <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
        </span>
      </ng-container>
      <ng-container *ngIf="!(btnLoading$ | async)">
        <span class="indicator-label">Save</span>
      </ng-container>
    </button>
    <i class="ki ki-unlock"></i>
  </div>
</ng-template>
