:host {
  width: 100%;
  background: white;
  @media (max-width: 1400px) {
    .vh-100 {
      height: auto !important;
    }
  }
  @media (min-width: 992px) {
    .login-form {
      width: 100%;
      max-width: 450px;

      .mat-form-field {
        width: 100%;
      }
    }
  }
}
