<!--begin::Action wrapper-->
<div class="d-flex align-items-center">
  <!--begin::Label-->
<!--end::Action wrapper-->

<!--begin::Action wrapper-->
<div class="d-flex align-items-center">
  <!--begin::Separartor-->
  <div class="bullet bg-secondary h-35px w-1px mx-5"></div>
  <!--end::Separartor-->

  <!--begin::Label-->

  <!--end::Label-->

  <!--begin::NoUiSlider-->

  <!--end::NoUiSlider-->

  <!--begin::Separartor-->
  <div class="bullet bg-secondary h-35px w-1px mx-5"></div>
  <!--end::Separartor-->
</div>
<!--end::Action wrapper-->

<!--begin::Action wrapper-->
<div class="d-flex align-items-center">
  <!--begin::Label-->

  <!--end::Label-->

  <!--begin::Actions-->

  <!--end::Actions-->
</div>
<!--end::Action wrapper-->
