<div class="card">
  <div class="card-body">
    <div class="form-group">
      <label for="phaseSelect">Select Phase:</label>
      <select id="phaseSelect" class="form-control" [(ngModel)]="selectedPhase" (change)="onPhaseChange()">
        <option *ngFor="let phase of phases" [value]="phase">{{ phase }}</option>
      </select>
    </div>
    <div class="table-responsive">
      <table class="table table-row-bordered table-row-gray-100 align-middle gs-0 gy-3">
        <thead>
        <tr>
          <th><span class="text-gray-500 fs-8 bold">Project ID</span></th>
          <th><span class="text-gray-500 fs-8 bold">Title</span></th>
          <th><span class="text-gray-500 fs-8 bold">Name</span></th>
          <th><span class="text-gray-500 fs-8 bold">ID</span></th>
          <th><span class="text-gray-500 fs-8 bold">Questionnaire ID</span></th>
          <th><span class="text-gray-500 fs-8 bold">Project Phase</span></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let report of reports">
          <td><span class="text-muted fw-bold text-muted d-block fs-11">{{ report.projectId }}</span></td>
          <td><span class="text-muted fw-bold text-muted d-block fs-11">{{ report.title }}</span></td>
          <td><span class="text-muted fw-bold text-muted d-block fs-11">{{ report.name }}</span></td>
          <td><span class="text-muted fw-bold text-muted d-block fs-11">{{ report.questionnaireId }}</span></td>
          <td><span class="text-muted fw-bold text-muted d-block fs-11">{{ report.id }}</span></td>
          <td><span class="text-muted fw-bold text-muted d-block fs-11">{{ report.projectPhase }}</span></td>
        </tr>
        </tbody>
      </table>
      <div class="col text-center data-loader mt-5 p-5 pt-7" *ngIf="dataLoading$ | async">
        <div class="spinner-border text-warning" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
      <div class="col-sm-12 d-flex align-items-center justify-content-center justify-content-md-end mt-10">
        <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="20" [maxSize]="5" (pageChange)="onPageChange()"></ngb-pagination>
      </div>
    </div>
  </div>
</div>
