<div class="d-flex flex-column flex-lg-row flex-column-fluid vh-100">
  <!--begin::Body-->
  <div class="d-flex flex-column flex-lg-row-fluid w-lg-50 p-10 order-2 order-lg-1">
    <!--begin::Form-->
    <div class="d-flex flex-center flex-column flex-lg-row-fluid">
      <!--begin::Wrapper-->
      <div class="p-10">
        <router-outlet></router-outlet>
      </div>
      <!--end::Wrapper-->
    </div>
    <!--end::Form-->

    <!--begin::Footer-->
    <div class="d-flex flex-center flex-wrap px-5">
      <!--begin::Links-->
      <div class="d-flex fw-semibold text-primary fs-base">
        <a href="#" class="px-5" target="_blank">Terms</a>
        <a href="#" class="px-5" target="_blank">Plans</a>
        <a href="#" class="px-5" target="_blank">Contact Us</a>
      </div>
      <!--end::Links-->
    </div>
    <!--end::Footer-->
  </div>
  <!--end::Body-->

  <!--begin::Aside-->
  <div class="d-flex flex-lg-row-fluid w-lg-50 bgi-size-cover bgi-position-center order-1 order-lg-2"
       [ngStyle]="{'background-image': 'url(./assets/media/goodsports/gs_background_7.png)', 'background-size': '100%', 'background-position': 'top'}">
    <!--begin::Content-->
    <div class="d-flex flex-column flex-center py-15 px-5 px-md-15 w-100">
      <!--begin::Logo-->
      <!--end::Logo-->
      <!--begin::Image-->
      <!--end::Image-->
      <!--begin::Title-->
      <!--end::Title-->
      <!--begin::Text-->
      <!--end::Text-->
    </div>
    <!--end::Content-->
  </div>
  <!--end::Aside-->
</div>
