.limit-text {
  display: block;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;

  max-height: 15px;
  margin-bottom: 0;
}
.idea-card {
  background-image: url("../../../../assets/media/illustrations/mini-banner.png");
  background-size: cover;
}

.bannerImg { 
  width: 100%; 
}