<div class="card card-custom">
  <div class="card-header">
    <div class="card-title">
      <h3 class="card-label">Om Goodsport Foundation</h3>
    </div>
  </div>
  <div class="card-body">

    <strong>Kansli:</strong>

    <p>VD Patrik Asplund – Sociala projekt & företagssponsring</p>

    <p>Charlotte Ovefelt – Jämställdhet & Organisationsutveckling</p>

    <p>Alexander Östlund - Idrott & Utveckling</p>

    <p>Josefin Hansson – ekonomi</p>


    <strong>Styrelse:</strong>

    <p>
      Thomas Brenemark – Whyagency - kommunikation PR</p>

    <p>Isabelle Sundström - Advokat</p>

    <p>Malin Lindfors Speace – Ethos International (Hållbarhetsfrågor)</p>

    <p>Staffan Olsson – Idrott & Utveckling</p>

    <p>Nami Zarringhalam – Truecaller .- Teknik/Data</p>

    <p>Lali Fjellström – Ekonomi & Redovisning
    </p>

    <p><strong>Om Projekt och verksamheterna</strong></p>
    <p>
      Vi på stiftelsen Goodsport är utbildade hållbarhetsredovisningskonsulter och har ett nära samarbete med Ethos
      International. Tillsammans validerar vi organisationer och projekt/verksamheter genom Goodsport Sustainability
      Supoport.
    </p>
    <p>

      Goodsports har en unik kompetens med över 20 år erfarenhet av att starta, driva, stötta och återrapportera
      verksamheter och projekt. Vi har idag ett stort nätverk av privatpersoner, företag, kommuner, ungdomar, stiftelser
      som bidrar till samhällsnyttiga insatser för barn och ungdomar.
    </p>


    <p>Goodsport driver egna projekt som Nattfotboll, Skolträffen, Mentorprogram och skräddarsydda utbildningar. Se mer
      information om projekten på www.goodsport.se</p>

    <strong>Om Goodsport och kontakt</strong>

    <p>Goodsport &auml;r en allm&auml;nnyttig, partipolitiskt obunden och icke-vinstdrivande stiftelse som verkar f&ouml;r
      integration genom sociala projekt. Vi &auml;r nyskapande och l&ouml;snings orienterade och anv&auml;nder idrottens
      meritokratiska of&auml;rgade syns&auml;tt som verktyg. &#8239;Vi agerar f&ouml;rebilder genom att anv&auml;nda v&aring;ra
      personliga erfarenheter och visa p&aring; hur s&aring;rbarhet och &ouml;dmjukhet kan bli en styrka. Vi g&ouml;r
      skillnad f&ouml;r unga. V&aring;ra aktiviteter drivs tillsammans med ett brett n&auml;tverk av representanter fr&aring;n
      n&auml;ringsliv, offentlig och ideell sektor.</p>

    <p>Vi genomf&ouml;r egna projekt och hj&auml;lper till att starta upp nya sociala projekt d&auml;r idrottens
      meritokratiska v&auml;rderingar anv&auml;nds f&ouml;r att skapa lika f&ouml;ruts&auml;ttningar f&ouml;r alla i
      kombination med enkla raka krav. M&aring;ls&auml;ttningen &auml;r att genom egna projekt och st&ouml;d till andra
      skapa h&aring;llbara verksamheter f&ouml;r ungdomar, av ungdomar. &#8239;Genom skapandet av&#8239;socialfunding.se&#8239;st&ouml;ttar
      vi tillkomsten av fler framg&aring;ngsrika sociala projekt. H&auml;r sker kvalitetss&auml;kring av projekt och
      verksamheter, utbildningar och finansiering genom kontaktskapande och den kommande digitala plattformen. Goodsport
      Foundation startar, i egen regi och genom plattformen socialfunding.se, nya projekt varje &aring;r som verkar f&ouml;r
      integration, &ouml;kad syssels&auml;ttning, &ouml;kad h&auml;lsa och minskad kriminalitet.&#8239;</p>


    <p>Goodsport har funnits sedan 2012, har byggt f&ouml;rtroenden fr&aring;n kommuner och stadsdelar nationellt och
      har&#8239;bel&ouml;nats&#8239;av Prins Daniel under idrottsgalan 2019.</p>


    <p><strong>Organisationens huvudkontor:&#8239;</strong></p><p>Stockholms Stadion, Liding&ouml;v&auml;gen 1, 114 33 Stockholm</p>

    <p><strong>Nationell &Auml;garstruktur och f&ouml;retagsform:</strong></p>
    <p>Icke vinstdrivande stiftelse.</p>

    <p><strong>Sociala medier:</strong></p>
    <p>www.goodsport.se</p>
    <p>https://www.facebook.com/Goodsport-Foundation-1445941678989885</p>
    <p>Kontakt:patrik&#64;goodsport.se</p>

    <p>Organisationens storlek och omfattning och information om anst&auml;llda:</p>

    <strong>Styrelse (ej arvoderade):</strong>

    <p>Thomas Brenemark Ordf&ouml;rande, Isabelle Sundstr&ouml;m Ledamot, Malin Lindfors Speace Ledamot, Staffan Olsson
      Ledamot, Nami Zarringhalam Ledamot, Lali Fjellstr&ouml;m Ledamot.</p>

    <strong>Kansli:</strong>

    <p>Patrik Asplund, Charlotte Ovefelt, Alexander &Ouml;stlund</p>
  </div>
</div>
