<div class="">
  <h2 class="d-flex align-items-center text-dark mb-0 fs-5 bold mb-10">GRI Report</h2>
</div>


<div class="card-body text-center mt-15">
  <img class="h-200px" src="./assets/media/illustrations/sigma-1/4.png" alt="" />
  <h2 class="mb-0 fs-3 mt-10">Congratulations!</h2>
  <p class="fs-8">
    Reporting phase is closed. You are now in final reporting phase for
    project closure.
  </p>
</div>


<!-- <div *ngIf="!(dataLoading$ | async)">
  <div class="fv-row">
    <div
      class="fv-row mb-10 fv-plugins-icon-container"
      *ngFor="let data of allAnswers"
    >
      <label class="d-flex align-items-center fs-5 fw-bold mb-2">
        <span class="required">{{ data?.question }}</span>
      </label>
      <p>{{ data?.answer ? data?.answer : "-" }}</p>
    </div>
  </div>
</div>

<div class="col text-center data-loader mt-5" *ngIf="dataLoading$ | async">
  <div class="spinner-border text-warning" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div> -->
