/* You can add global styles to this file, and also import other style files */
@import "./assets/sass/style.scss";
// Replace above style with this css file to enable RTL styles
// @import "./assets/css/style.rtl";
@import './assets/sass/plugins.scss';
// @import "./assets/css/style.rtl.css";
@import "./assets/sass/style.angular.scss";

// Keenicons - High quality and pixel perfect font icons available in 3 styles, duotone, outline and solid for Metronic elements
@import "./assets/plugins/keenicons/duotone/style.css";
@import "./assets/plugins/keenicons/outline/style.css";
@import "./assets/plugins/keenicons/solid/style.css";


.yellow-text {
  color: #ffbb00;
}

.yellow-button {
  background-color: #ffbb00;
  color: #111;

  &:hover {
    background-color: #111;
    color: #ffbb00;
  }
}

.signIn-button {
  background-color: #ffbb00;
  color: #111;
  width: 500px;

  &:hover {
    background-color: #111;
    color: #ffbb00;
  }
}



.yellow-light-bg {
  background-color: #fff8dd !important;
}

.yellow-bg {
  background-color: #ffbb00 !important;
}

.light-yellow-badge {
  background-color: #fff8dd !important;
  color: #ff8800 !important;
}

.light-blue-badge {
  background-color: #6c63ff !important;
  color: #fff !important;
}

.dark-yellow-badge {
  background-color: #ffbb00;
}

.yellow-light-border {
  border-color: #fff8dd !important;
}

.light-green-badge {
  color: #50cd89;
  background-color: #e8fff3;
}

.light-red-badge {
  color: #ea1e3f;
  background-color: #ffdde6;
}

.light-purple-badge {
  color: #6c63ff;
  background-color: #e2e0ff;
}

.bold {
  font-weight: bold !important;
}

.bg-light {
  background-color: #f5f8fa !important;
}

.form-select-solid {
  .special {
    font-size: 16px;
  }
}


.yellow-button {
  background-color: #ffbb00;
  color: #111;
  border: 1px solid transparent !important;

  &:hover {
    background-color: transparent;
    color: #111;
    border-color: #ff8800 !important;
  }
}
.radius-8px {
  border-radius: 8px !important;
}

.radius-15px {
  border-radius: 15px !important;
}

.text-justify {
  text-align: justify;
}
